/*@media (min-width: 600px)*/

.block {
	border: 1px solid #ccc;
	padding: 10px;
	min-width: 200px;
	border-radius: 5px;
	max-width: 500px;
	margin-top: 20px;
}

body {
	font-family: sans-serif;
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
}

.column {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.block-title {
	font-family: monospace; 
	padding-left: 15px;
	font-size: 1.5em;
}

.block-desc {
	font-size: 12px;
}

.img-fit {
	-webkit-filter: brightness(100%);
	max-width: 100%;
	border-radius: 5px
}

.img-fit:hover {
	-webkit-filter: brightness(40%);
	transition: all 0.5s ease;
	cursor: pointer;
}